<%- include ../public/header.ejs%>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include  ../public/aslideleft.ejs%>
			
          
        </div>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">商品管理
                </li>
                <li class="active">商品列表
                </li>
            </ol>
            <div class="panel panel-default">
              
			    <div class="panel-heading">
                  增加商品
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/product/doEdit?oldUrl=<%=list[0].MALL_CATEGORY_ID%>/<%=list[0].SUB_ID%>" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="" value="<%=list[0].ID%>">
                            <input type="hidden" name="oldpic" id="" value="<%=list[0].IMAGE1%>">
                            <ul>
                                <li>  商品名称: <input type="text" name="NAME" value="<%=list[0].NAME%>"/></li>

                                <li>  商品图片: <input type="file" name="IMAGE1""/></li>
                                
                                <li>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="<%=list[0].IMAGE1%>" alt="" style="width: 120px; height: 100px;">
                                </li>
                                
                                <li>  商品原价: <input type="text" name="ORI_PRICE" value="<%=list[0].ORI_PRICE%>"/></li>
                                <li>  商品现价: <input type="text" name="PRESENT_PRICE" value="<%=list[0].PRESENT_PRICE%>"/></li>

                                <li>
                                    商品描述:
                                    <textarea name="DETAIL" id="" cols="60" rows="8"><%=list[0].DETAIL%></textarea>
                                </li>

                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>


                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>